<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harlan</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="description" content="Harlan's blog."/>
    <meta name="keyword" content="Harlan1994,Java,IT,SpringBoot,Spring"/>

    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.12.0/styles/tomorrow.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/gitment.css"/>

    <script type="text/javascript" src="//cdn.bootcss.com/geopattern/1.2.3/js/geopattern.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/qrious.js"></script>
    <script type="text/javascript" src="/js/gitment.js"></script>
</head>

<body>
<div th:include="header::header"></div>
<main class="app-body" style="transform: translateY(0px); opacity: 1;">
    <div th:if="not ${posts} == null">
        <article th:each="post:${posts}" class="article-card">
            <h2 class="article-head">
                <a href="${post.url}">${post.title}</a>
            </h2>
            <p class="article-date">${post.publishDate}</p>

            <a th:each="tag:${post.tags}">
                <a href="/tags#${tag.name}">
                    <span class="tag-code">Java</span>
                </a>
            </a>

            <div class="article-summary">
                ${post.summary}
            </div>
        </article>
    </div>
    <div th:if="not ${posts} == null">No posts.</div>
</main>
<script>
    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) {
            o.addEventListener('load', function (e) {
                c(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    }
</script>
<script>
    async("//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function () {
        FastClick.attach(document.body);
    })
</script>

<script>
    var hasLine = 'true';
    async("//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js", function () {
        $('figure pre').each(function (i, block) {
            var figure = $(this).parents('figure');
            if (hasLine === 'false') {
                figure.find('.gutter').hide();
            }
            var lang = figure.attr('class').split(' ')[1] || 'code';
            var codeHtml = $(this).html();
            var codeTag = document.createElement('code');
            codeTag.className = lang;
            codeTag.innerHTML = codeHtml;
            $(this).attr('class', '').empty().html(codeTag);
            figure.attr('data-lang', lang.toUpperCase());
            hljs.highlightBlock(block);
        });
    })
</script>
<!-- Baidu Tongji -->

<script src="/js/script.js"></script>
<script>
    !(function (c, b, d, a) {
        c[a] || (c[a] = {});
        c[a].config = {pid: "gpp51peubi@e9517deb3203509", imgUrl: "https://arms-retcode.aliyuncs.com/r.png?"};
        with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
    })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
</script>
</body>
</html>